@import "bootstrap/scss/bootstrap";
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
}
.app{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.text-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}